/*BEGIN contacts*/
@charset "utf-8";

/*
#00dacb
5d5657
*/

/*BEGINING OF NAVBAR*/

/*END OF NAVBAR*/

/*FONT IMPORT*/
@font-face {
    font-family: 'openSas';
    src: url(../fonts/Open_Sans/OpenSans-Light.ttf);
}
@font-face {
    font-family: 'Libre Caslon Display';
    src: url(../fonts/Libre_Caslon_Display_1/LibreCaslonDisplay-Regular.ttf);
}
@font-face {
    font-family: 'Josefin Sans';
    src: url(../fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}
/*END FONT IMPORT*/

#contact{
    align-self: baseline;
    height: 40vh;
    background-color: #5d5657;
    color: #cecccc;
}
#contact #footerContact .row .col-12 h3{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
}
#contact #footerContact .row .col-12 p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#socialIcons .col svg{
    width: 30px;
}

/*EDN ABOUT/UEM SOMOS*/