/*BEGIN contacts*/
@charset "utf-8";

/*
#00dacb
5d5657
*/

/*BEGINING OF NAVBAR*/

/*END OF NAVBAR*/

/*FONT IMPORT*/
@font-face {
    font-family: 'openSas';
    src: url(../fonts/Open_Sans/OpenSans-Light.ttf);
}
@font-face {
    font-family: 'Libre Caslon Display';
    src: url(../fonts/Libre_Caslon_Display_1/LibreCaslonDisplay-Regular.ttf);
}
@font-face {
    font-family: 'Josefin Sans';
    src: url(../fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}
/*END FONT IMPORT*/

#contact{
 
    background-color: #5d5657;
    color: #cecccc;
    position:relative; 
    z-index: 1000;
}
#contact #footerContact .row .col-12 h3{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
}
#contact #footerContact .row .col-12 p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#socialIcons .col svg{
    width: 30px;
}
#contact #footerContact #theContacts{
    padding-top: 8vh;
    padding-bottom: 7vh;
}

#contact #footerContact .row #socialMedia a:hover{
    fill: aqua;
}

/*EDN ABOUT/UEM SOMOS*/

@media only screen and (max-width: 768px) {
    #contact #footerContact .row #bookingContact, #contact #footerContact .row #socialMedia, #contact #footerContact .row #address{
        padding-bottom: 3vh;
    }

    @media only screen and (min-width: 443px){
        #contact #footerContact .row #socialMedia #socialIcons{
            width: 60%;
            padding-left: 0;
            padding-right: 0;
            align-self: center;
        }
    }
}