@charset "utf-8";
body {
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/*BEGINING OF NAVBAR*/

/*END OF NAVBAR*/

/*FONT IMPORT*/
@font-face {
    font-family: 'openSas';
    src: url(../fonts/Open_Sans/OpenSans-Light.ttf);
}
@font-face {
    font-family: 'Libre Caslon Display';
    src: url(../fonts/Libre_Caslon_Display_1/LibreCaslonDisplay-Regular.ttf);
}
/*END FONT IMPORT*/


/*Begin NavBar*/
#navBar .navbar{
    background-color: #00000010!important;
    
}
.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
#body #navBar .navbar .navbar-brand{
    font-family: 'Libre Caslon Display', serif;
}
#body #navBar .navbar .navbar-collapse .navbar-nav li{
    margin: 0 15px 0 15px;
}
#body #navBar .navbar .navbar-collapse .navbar-nav .nav-item a{
    font-family: "openSas";
    color: #000;
    text-transform: uppercase;
    font-weight: ;
}
/*END NAVBAR*/



/**BEGIN OF HOME PAGE*/
#home{
    background-color: #00ffff;
    height: 100vh;
}
#home #homePage .row .block{
    position: fixed;
}
#home #homePage .row .col h2{
    font-family: 'Libre Caslon Display', serif;
    font-weight: 550;
    color: #000;
    position: relative;
    margin-top: 40vh;
}
/**END OF HOME PAGE*/

/*BEGIN ABOUT/UEM SOMOS*/

/*EDN ABOUT/UEM SOMOS*/
